h1{
    color: blue;
}

.circle-border
{
    width:10em;
    border: 3px solid purple;
    border-radius:50%
}
img
{
    width:10em;
    border: 3px solid purple;
    border-radius:50%
}
body
{
    background-image: url("images/background.avif");
}
background-images
{
    background-image: linear-gradient();
}